@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-style: normal;
	font-family: 'Inter';
	font-display: optional;
	src: url('/fonts/inter-var.woff2') format('woff2');
}

.heading_hover_hash:hover {
	cursor: pointer;
	text-decoration: underline;
}

pre {
	width: 75vw;
}

@media screen and (max-width: 768px) {
	pre {
		width: 95vw;
	}
}

article > *:not(pre) {
	text-align: left;
	align-self: flex-start;
	content-visibility: auto;
}
